svc-dynamic-workflow-manager/WebContent/WEB-INF/dynamicworkflow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dynamicworkflow/com/igate/dam" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TriggerDynamicWorkFlowRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SupplierDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="suppid"/>
              <xs:element type="xs:string" name="suppname"/>
              <xs:element type="xs:string" name="currstep"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TriggerDynamicWorkFlowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="processinstanceid"/>
        <xs:element type="xs:string" name="invocationsuccess"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>